<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-nav-list >
      <div mat-subheader>Products</div>
      <mat-list-item *ngFor="let product of products">
        <mat-icon matListItemIcon>{{product.icon}}</mat-icon>
        <div matListItemTitle>{{product.name}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>Buys</div>
      <mat-list-item *ngFor="let buy of buys">
        <mat-icon matListItemIcon>{{buy.icon}}</mat-icon>
        <div matListItemTitle>{{buy.name}}</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
