.mat-mdc-card-header {
  padding: inherit;
}

.product-list-spacer {
  flex: 1 1 auto;
}

.product-list-container {
  width: 50%;
  margin: 16px auto;
}

.create-product-button {
  float: right;
}

table {
  width: 100%;
}
